.login-page {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .login-header {
    margin-bottom: 2rem;
  }
  
  .main-logo {
    max-width: 300px;
    height: auto;
  }
  
  .login-title {
    color: #407ff4;
    margin-top: 1rem;
    padding-top: 2rem;
  }
  
  .login-form {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 5px;
  }
  
  .form-control:focus {
    border-color: #407ff4;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  }
  .mt-4{
    padding-bottom: 2rem;
  }