{% extends "admin/base.html" %}
{% load static %}  <!-- ✅ Ensure this is present at the top -->

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin.css' %}">
{% endblock %}

{% block title %}Election Admin Panel{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'admin/img/tu_darmstadt_logo.png' %}" alt="TU Darmstadt Logo" style="height: 50px;">
        Election Management System
    </a>
    <style>
      tr {
          background-color: black !important;
      }
      div.module {
        background-color: white !important;
        color: white !important;
      }

      div.module > h2 {
        background-color:#498bf0 !important;  /* Dark Blue */;
      }

      div.module > h3 {
        color: whitesmoke !important;
      }
      span.mini.quiet {
        color: whitesmoke !important;
      }
      nav.changelist-filter {
        background-color: grey !important;
      }

      #changelist-filter {
        background: #0d0d0d !important;
      }

      div.text {
        background-color:#498bf0 !important;  /* Dark Blue */;
      }

      #changelist-filter li.selected{
        background: #0d0d0d !important;
      }
  </style></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
